@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,400i,600,600i,700,800");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(160, 160, 160);
  text-decoration: none;
  font-family: "Lato", "Avenir Next", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

*::selection {
  background: rgba(45, 169, 251, 0.25);
}

a {
  color: #0066d2;
  font-size: inherit;
  font-weight: inherit;
}
a:hover {
  color: #0230B2;
  text-decoration: none;
  cursor: pointer;
}

html {
  background: rgb(255, 255, 255);
  height: 100%;
  position: relative;
}

body {
  background: rgb(255, 255, 255);
  height: 100%;
  position: relative;
  min-width: 320px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

header {
  min-height: 64px;
  padding: 8px 32px;
}
header .logo {
  display: inline-block;
  font-weight: 300;
  vertical-align: middle;
}
header .logo a {
  background-image: url("/images/logo.png");
  background-size: 32px auto;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 4px;
  padding-left: 40px;
  line-height: 48px;
  color: rgb(0, 0, 0);
}
header .nav {
  float: right;
  display: block;
}
header .nav li {
  display: inline-block;
  width: 96px;
  text-align: center;
  vertical-align: middle;
}
header .nav a {
  color: rgb(0, 0, 0);
  line-height: 48px;
  padding: 8px 16px;
  font-weight: 300;
  border-width: 2px;
}
header .nav a:hover {
  border-bottom: 2px solid currentColor;
}
header .nav a.selected {
  font-weight: 500;
}
header .nav a.selected:hover {
  color: rgb(0, 0, 0);
  border: none;
}

footer {
  height: 72px;
  position: absolute;
  bottom: 0;
  font-weight: 100;
  text-align: center;
  color: #d0d0d0;
  display: block;
  padding: 1.5em;
  width: 100%;
  font-size: 16px;
}
footer a {
  color: rgb(160, 160, 160);
  padding: 8px 4px;
}
footer a:hover {
  color: rgb(0, 0, 0);
}

.postsummary {
  display: block;
  max-width: 672px;
  margin: 0 auto;
  text-align: left;
  margin-top: 32px;
  padding: 16px 32px;
  color: rgb(0, 0, 0);
  box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0);
  transition: 0.1s ease all;
  transition-property: transform;
}
@media (min-width: 672px) {
  .postsummary {
    border-radius: 8px;
  }
}
.postsummary:hover {
  color: rgb(0, 0, 0);
}
.postsummary > h2 {
  color: inherit;
  font-size: 32px;
  font-weight: 400;
}
.postsummary:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.1);
}
.postsummary:active {
  transform: scale(1);
}
.postsummary.projectsummary {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.postsummary.projectsummary h2 {
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2), 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.postsummary.projectsummary.lightbg {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.postsummary.projectsummary.lightbg > .date {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.postsummary.projectsummary.lightbg > .date::before {
  content: "Posted ";
}
.postsummary.projectsummary.lightbg h2 {
  text-shadow: none;
}
.postsummary.projectsummary > .date {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.postsummary.projectsummary > .date::before {
  content: "Posted ";
}
.postsummary > p {
  color: inherit;
  opacity: 0.75;
  margin-bottom: 8px;
}
.postsummary > .date {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.postsummary > .date::before {
  content: "Posted ";
}

.project {
  margin: 0 auto 0px;
  display: block;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  min-height: 256px;
  position: relative;
  padding: 64px 2px;
  background-position: center center;
  background-size: cover;
}
.project > h2 {
  font-weight: 500;
  font-size: 64px;
  color: inherit;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2), 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.project > p {
  color: inherit;
  opacity: 0.75;
  margin-bottom: 1em;
}
.project.lightbg {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.project.lightbg:hover {
  color: rgb(0, 0, 0);
}
.project.lightbg .posteddate {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.project.lightbg .posteddate::before {
  content: "Posted ";
}
.project.lightbg h2 {
  text-shadow: none;
}
.project:hover {
  color: rgb(255, 255, 255);
}
.project .posteddate {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.project .posteddate::before {
  content: "Posted ";
}

main {
  background: white;
  text-align: center;
  position: relative;
  padding-bottom: 72px;
}
main > h1 {
  font-weight: 100;
  font-size: 70px;
  color: rgb(0, 0, 0);
  line-height: 1.2em;
}
main > p {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 24px;
  width: 512px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 32px;
}

.post {
  max-width: 672px;
  padding: 32px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.post * {
  color: rgb(0, 0, 0);
}

.post .video {
  margin: 1em 0;
  border-radius: 4px;
  overflow: hidden;
}

.posttitle {
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 256px;
  position: relative;
  padding: 64px;
}
.posttitle > h2 {
  color: inherit;
  font-weight: 500;
  font-size: 64px;
}
.posttitle > p {
  color: inherit;
  opacity: 0.75;
  margin-bottom: 1em;
}
.posttitle .posteddate {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.posttitle .posteddate::before {
  content: "Posted ";
}

/* ****************************************************
Formatting in the post itself, for each tag
**************************************************** */
.post * {
  line-height: 1.5;
}

/* ******** Headers ******** */
.post h2, h3, h4 {
  margin-bottom: 12px;
  padding: 0;
  line-height: 1;
  position: relative;
}

.post h2 {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 3rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.post h3 {
  font-size: 1.1em;
  text-align: left;
  margin-top: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.post h4 {
  font-size: 1em;
  text-align: left;
  margin-top: 0.75rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.post .outside-heading {
  display: inline-block;
  text-align: right;
  min-width: 96px;
  position: absolute;
  line-height: inherit;
  transform: translateX(-100%);
  padding-right: 16px;
  font-size: inherit;
  font-weight: 300;
  opacity: 0.5;
}

.post .outside-links {
  font-size: 0.85rem;
  width: 160px;
  text-align: left;
  position: absolute;
  line-height: inherit;
  left: 100%;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 300;
  hyphens: none;
}
.post .outside-links a {
  margin-bottom: 1em;
}
.post .outside-links a::before {
  content: "→ ";
  opacity: 0.5;
  padding-right: 8px;
  position: absolute;
  transform: translateX(-100%);
}
.post .outside-links a::after {
  content: "\a";
  white-space: pre;
  display: block;
  margin-bottom: -1em;
}

.post .table_header {
  font-size: 1em;
  text-align: center;
  margin-bottom: -16px;
  color: black;
  font-weight: 500;
  background: rgba(192, 192, 192, 0.25);
  padding: 4px;
  border: 1px solid rgb(192, 192, 192);
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* ******** Various ******** */
.post .youtube-video {
  width: 560px;
  height: 315px;
  margin-bottom: 24px;
  display: block;
  background: black;
  position: relative;
  color: transparent;
  user-select: none;
  background-size: cover;
  background-repeat: no-repeat;
}
.post .youtube-video.activated::before {
  display: none;
}
.post .youtube-video::before {
  content: "▶";
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease transform, 0.1s ease color;
  z-index: 0;
}
.post .youtube-video:hover::before {
  transform: translate(-50%, -50%) scale(1.1);
}
.post .youtube-video:active::before {
  color: #ddd;
  transform: translate(-50%, -50%) scale(0.9);
}
.post .youtube-video iframe {
  z-index: 10;
}

.post audio {
  display: block;
  max-width: 672px;
  width: 100%;
  margin: 16px auto;
}

.post .spectrograms {
  padding: 0;
  background: black;
  overflow-x: hidden;
}
.post .spectrograms strong {
  display: block;
  background: rgb(255, 255, 255);
  padding-bottom: 4px;
}
.post .spectrograms audio {
  margin: 0;
}
.post .spectrograms img {
  width: auto;
  margin: 0;
  max-width: none;
  height: 384px;
  transition: 0.5s transform linear;
}

.post video {
  display: block;
  max-width: 672px;
  width: 100%;
  margin: 16px auto;
}

.post img {
  display: block;
  max-width: 672px;
  width: 100%;
  margin: 16px auto;
  border-radius: 8px;
}

.post img.w_512 {
  width: 512px;
  height: 384px;
}

.post img.half_height {
  width: 400px;
  height: 150px;
}

.post img.lowres {
  image-rendering: pixelated;
}

.post strong {
  font-weight: 500;
}

.post .spoiler {
  background: currentcolor;
  cursor: none;
}
.post .spoiler:hover {
  background: transparent;
}

.post del {
  text-decoration: line-through;
  color: #d11f04;
}

.post em {
  font-weight: 300;
  color: inherit;
}

.post p {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 24px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.post a {
  color: #0066d2;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid rgba(0, 102, 210, 0.1);
}

.post a:hover {
  color: #0230B2;
  border-bottom-color: rgba(2, 48, 178, 0.1);
}

.post .headerLink {
  position: relative;
}
.post .headerLink a {
  color: inherit;
  border: none;
  font-weight: inherit;
  position: absolute;
  top: 0;
  display: block;
  padding-right: 0.25em;
  transform: translateX(-100%);
}
.post .headerLink a::before {
  content: "🔗";
  opacity: 0;
  transition: 0.2s ease opacity;
}
.post .headerLink:hover a::before {
  opacity: 1;
}

.post span {
  font-weight: inherit;
  font-size: inherit;
}

.post hr {
  border: 0;
  height: 0;
  border-top: 1px solid #e8e8e8;
  margin: 64px auto;
  width: 50%;
}

.post sup {
  color: inherit;
}

.post sup a {
  text-decoration: none;
  font-size: 0.75em;
  color: inherit;
}

.post code {
  font-weight: 400;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: -4px;
  padding: 2px 4px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 0.85em;
  white-space: nowrap;
  font-family: monospace;
  user-select: all;
}

.post blockquote {
  text-align: left;
  padding: 8px;
  padding-left: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  right: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  color: rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
}

.post pre {
  text-align: left;
  padding: 8px;
  padding-left: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  overflow: scroll;
  font-family: monospace;
  font-size: 0.9em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
}
.post pre span {
  font-family: monospace;
}
.post pre.collapsed {
  text-overflow: ellipsis;
  height: 3em;
  transition: 0.4s ease height;
}
.post pre.collapsed:hover {
  height: auto;
  overflow: scroll;
}

/* ******** Footnotes ******** */
.post .footnote {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 1em;
  height: 1em;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
}

.post .footnote:hover {
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 16px -4px rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  max-width: 400px;
  padding: 8px 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  margin: -8px -12px;
  z-index: 100;
}

.post .footnote:before {
  content: " *  ";
  color: #0066d2;
  display: inline;
  font-size: 1rem;
}

.note {
  opacity: 0.75;
  font-size: 0.9rem;
}
.note sup {
  font-size: 0.6rem;
}

/* ******** Lists ******** */
.post ul {
  list-style: none;
  margin-left: 32px;
  color: rgba(0, 0, 0, 0.8);
}

.post ol {
  list-style: none;
  margin-left: 32px;
  margin-top: -12px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.post li {
  text-align: left;
  margin-bottom: 16px;
  line-height: 1.5;
}

.post ol > li {
  counter-increment: li;
}

.post ol > li::before {
  content: counter(li) ".";
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  direction: rtl;
  margin-right: 0.5em;
}

.post ul > li::before {
  content: "•";
  display: block;
  position: absolute;
  transform: translateX(-100%);
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: rgb(96, 96, 96);
  padding-right: 0.5em;
}

/* ******** Tables ******** */
.post table {
  margin: 16px auto;
  border-collapse: collapse;
  border: 1px solid rgb(192, 192, 192);
  width: 100%;
}

.post td {
  text-align: left;
  padding: 16px;
}

.post th {
  padding: 16px;
  color: black;
}

.post table img {
  width: auto;
  height: auto;
}

@media (max-width: 640px) {
  .project {
    padding: 32px 20%;
  }
  header {
    text-align: center;
    height: auto;
  }
  header .nav {
    float: none;
    text-align: center;
  }
  section.medium {
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 0;
  }
  .post > img {
    width: 100% !important;
    height: inherit !important;
  }
  .post code {
    font-family: monospace;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .post pre {
    font-size: 0.5em;
  }
  .project > h2 {
    font-size: 2.5rem;
  }
}
.token.operator {
  color: #d11f04;
}
.token.punctuation {
  color: rgb(96, 96, 96);
}
.token.string {
  color: #8ad104;
}
.token.number {
  color: #1889f5;
}
.token.function {
  color: #6a00d1;
}
.token.reserved {
  color: #d11f04;
}
.token.comment {
  color: #a0a0a0;
}
.token.comment .prefix {
  color: #dfdfdf;
}

/*  it works in chrome */
#self_driving_car_videos h2 {
  background: black;
  display: inline;
  padding: 0.1em 0.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

#self_driving_car_videos .date,
#self_driving_car_videos .posteddate {
  background: black;
  border-color: black;
}

/*# sourceMappingURL=base.css.map */
